main li {
    list-style: none;
    font-family: 'Jura';
    font-size: 22px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px;
}
ul ul li {
    background: rgba(255, 255, 255, 0.05);
}
main ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;
    color: rgba(255, 255, 255, 0.7);
}
